.section {
    border-bottom: 1px solid lightgray;
    margin: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    display: flex;    
}
.section p{
    color: blue;
}
.section p,small,h5,button{
    margin-left: 20px;
}
h5{
    font-weight: 400;
}
button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 800px) {
     .section {
         display: block;
     }
     .section img{
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
}